@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
