@import './base.scss';



.relative{
  position: relative;
}
.sticky{
  position: sticky;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}

.block{
  display: block;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}

.pointer{
  cursor: pointer;
}

.txt-no_{
  text-decoration: none;
}

.full-width{
  width: 100%;
}

%flex-container{
  display: flex;
}

.flex-row{
  @extend %flex-container;
  flex-direction: row;
}  
.flex-column{
  @extend %flex-container;
  flex-direction: column;
}

.flex-warp{
  @extend %flex-container;
  flex-wrap: wrap;
}

.flex-auto{
  flex: auto
}

.noscroll {
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 15px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;

  &:hover{
    background: #7d7d7d;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}



.flex-20{
  flex: 20;
}
.flex-30{
  flex: 30;
}
.flex-40 {
  flex: 40;
}
.flex-50 {
  flex: 50;
}
.flex-60 {
  flex: 60;
}